/* ==========================================================================
   Style: Her kan du gjøre som du vil;
   ========================================================================== */

section, p {
	margin: 20px;
}

label {
	display: block
}

#errorMessage {
   font-weight: bold;
}